.imgDiv {
    position: relative;
    text-align: center;
    color: black;
}

.top-left {
    /* position: absolute; */
    /* top: 2px;
    left: 11px; */
    /* background-color: orange; */
    font-size: small;
  }

.bottom-center {
    /* position: absolute; */
    /* top: 50px;
    left: 20px;
    right: 20px; */
    /* background-color: rgb(161, 54, 54); */
    font-size: small
  } 

.font-xxlarge {
  font-size: xx-large;
}