body {
    font-family: 'Circular Std Book';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #71748d;
    background-color: #efeff6;
    -webkit-font-smoothing: antialiased
}

#title{
    /* color: white; */
    margin-top: 100px;
}

#start-btn{
    margin-top:40px;
    width: 100px;
    height: 50px;
}


.nav-icon{
    width: 30px;
    height: 30px;
}