
.div-center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.card-div{
    width: 200px;
    height: 250px;
}

.head-pannel{
    background-color: #efeff6;
    border-radius: 10px;
    height: 160px;
}

.middle-section{
    background-color: #efeff6;
    border-radius: 10px;
    margin-top:10px;
}

/*tab CSS start*/
#logo{
    width: 100px;
    height: 100px;
}

#game-main-page{
    height: 1000px;
}
#lib-root{
    border-left: 2px solid #080808;
}

.tab-v{
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    border-radius: 2px;
    background: #fff;
    padding: 17px 49px;
    color: #71748d;
    background-color: #dddde8;
    -webkit-border-radius: 4px 0px 0px 4px;
    -moz-border-radius: 4px 0px 0px 4px;
    border-radius: 4px 0px 0px 4px;
    margin-bottom: 6px;
}
.tab-v.active {
    color: #5969ff;
    background-color: #fff !important;
    border-color: transparent !important
}

/*overlay CSS start*/
.overlaycontainer {
    position: relative;
    width: 100%;
}
  
  
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: rgba(248, 81, 39, 1);
}
  
.overlaycontainer:hover .overlay {
opacity: 0.8;
}
  
.hovertext {
color: white;
font-size: 50px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}