.overlaycontainer {
    position: relative;
    width: 100%;
}
  
  
.overlay {
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .5s ease;
background-color: rgba(248, 81, 39, 1);
}
  
.overlaycontainer:hover .overlay {
opacity: 0.8;
}
  
.hovertext {
color: white;
font-size: 50px;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}