body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("static/mainbg.png");
  
    /* Half height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title{
    color: white;
    margin-top: 100px;
}

#start-btn{
    color: #000;
    margin-top:40px;
    width: 100px;
    height: 50px;
    background-image: url("static/start-btn.png");
}


.nav-icon{
    width: 30px;
    height: 30px;
}


.nav-text{
    color: aliceblue;
}