<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel='stylesheet' href='/static/shared/style.css'>
</head>

<body>

  <h2 class='center'>Generate Your Own Card!!!</h2>
  <p class='center'>Fill out the form and click save.</p>
  <p class='right'><a href='/'>Home</a></p>

  <div class="container">
    <form action='' method='post'>
      <div class="row">
        <div class="col-25">
          <label for="name">Name</label>
        </div>
        <div class="col-75">
          <input type="text" id="name" name="name" value="{{name}}">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="type">Type</label>
        </div>
        <div class="col-75">
          <select id="type" name="type">
            <option value="Attack">Attack</option>
            <option value="Skill">Skill</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="energy_cost">Energy cost</label>
        </div>
        <div class="col-75">
          <input type='number' id="energy_cost" name="energy_cost" value="0">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="damage_target">damage_target</label>
        </div>
        <div class="col-75">
          <select id="damage_target" name="damage_target">
            <option value="enemy">enemy</option>
            <option value="self">self</option>
          </select>
        </div>
      </div>


      <h3>damage block info:</h3>
      <div class="row">
        <div class="col-25">
          <label for="damage">damage</label>
        </div>
        <div class="col-75">
          <input type='number' id='damage' name='damage' value="0">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="damage_instances">damage_instances</label>
        </div>
        <div class="col-75">
          <input type='number' id='damage_instances' name='damage_instances' value="0">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="block">block</label>
        </div>
        <div class="col-75">
          <input type='number' id='block' name='block' value="0">
        </div>
      </div>

      <h3>card_life_cycle_info:</h3>
      <div class="row">
        <div class="col-25">
          <label for="copies_in_discard_pile_when_played">copies_in_discard_pile_when_played</label>
        </div>
        <div class="col-75">
          <input type='number' id='copies_in_discard_pile_when_played' name='copies_in_discard_pile_when_played' value="0">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="draw_card">draw_card</label>
        </div>
        <div class="col-75">
          <input type='number' id='draw_card' name='draw_card' value="0">
        </div>
      </div>

      <h3>buffs_info:</h3>
      <!-- <div class='row'> -->
        <table>
          <tr>
            <th>Buff Name</th>
            <th>value</th>
            <th>target</th>
          </tr>
          <tr>
            <td><label>Weakened</label></td>
            <td><input type='number' id='Weakened_value' name='Weakened_value' value="0"></td>
            <td>
              <select id='target' name='Weakened_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Vulnerable</label></td>
            <td><input type='number' id='Vulnerable_value' name='Vulnerable_value' value="0"></td>
            <td>
              <select id='target' name='Vulnerable_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Strength</label></td>
            <td><input type='number' id='Strength_value' name='Strength_value' value="0"></td>
            <td>
              <select id='target' name='Strength_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Artifact</label></td>
            <td><input type='number' id='Artifact_value' name='Artifact_value' value="0"></td>
            <td>
              <select id='target' name='Artifact_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Thorns</label></td>
            <td><input type='number' id='Thorns_value' name='Thorns_value' value="0"></td>
            <td>
              <select id='target' name='Thorns_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Barricade</label></td>
            <td><input type='number' id='Barricade_value' name='Barricade_value' value="0"></td>
            <td>
              <select id='target' name='Barricade_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Metallicise</label></td>
            <td><input type='number' id='Metallicise_value' name='Metallicise_value' value="0"></td>
            <td>
              <select id='target' name='Metallicise_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Plated Armor</label></td>
            <td><input type='number' id='Plated Armor_value' name='Plated Armor_value' value="0"></td>
            <td>
              <select id='target' name='Plated Armor_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Intangible</label></td>
            <td><input type='number' id='Intangible_value' name='Intangible_value' value="0"></td>
            <td>
              <select id='target' name='Intangible_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Regen</label></td>
            <td><input type='number' id='Regen_value' name='Regen_value' value="0"></td>
            <td>
              <select id='target' name='Regen_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Frail</label></td>
            <td><input type='number' id='Frail_value' name='Frail_value' value="0"></td>
            <td>
              <select id='target' name='Frail_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Dexterity</label></td>
            <td><input type='number' id='Dexterity_value' name='Dexterity_value' value="0"></td>
            <td>
              <select id='target' name='Dexterity_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Entangled</label></td>
            <td><input type='number' id='Entangled_value' name='Entangled_value' value="0"></td>
            <td>
              <select id='target' name='Entangled_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Flex</label></td>
            <td><input type='number' id='Flex_value' name='Flex_value' value="0"></td>
            <td>
              <select id='target' name='Flex_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Blur</label></td>
            <td><input type='number' id='Blur_value' name='Blur_value' value="0"></td>
            <td>
              <select id='target' name='Blur_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>DrawReduction</label></td>
            <td><input type='number' id='DrawReduction_value' name='DrawReduction_value' value="0"></td>
            <td>
              <select id='target' name='DrawReduction_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Minion</label></td>
            <td><input type='number' id='Minion_value' name='Minion_value' value="0"></td>
            <td>
              <select id='target' name='Minion_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Poison</label></td>
            <td><input type='number' id='Poison_value' name='Poison_value' value="0"></td>
            <td>
              <select id='target' name='Poison_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
          <tr>
            <td><label>Shackled</label></td>
            <td><input type='number' id='Shackled_value' name='Shackled_value' value="0"></td>
            <td>
              <select id='target' name='Shackled_target'>
                <option value='self'>self</option>
                <option value='enemy'>enemy</option>
              </select>
            </td>
          </tr>
        </table>
      <!-- </div> -->
      
      <h3>special_modifiers_info:</h3>
      <div class="row">
        <div class="col-25">
          <label for="unique_damage">unique_damage</label>
        </div>
        <div class="col-75">
          <input type='text' id='unique_damage' name='unique_damage' value="none">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="strength_multiplier">strength_multiplier</label>
        </div>
        <div class="col-75">
          <input type='text' id='strength_multiplier' name='strength_multiplier' value="1">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="next_attack_count">next_attack_count</label>
        </div>
        <div class="col-75">
          <input type='number' id='next_attack_count' name='next_attack_count' value="1">
        </div>
      </div>
      <br>
      <div class="row">
        <input type="submit" value="Save">
      </div>
      {% csrf_token %}
    </form>
  </div>

</body>

</html>